<div class="container">

  <form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">DNI</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="dni" placeholder="DNI" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <br>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Nombre</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="nombre" placeholder="Nombre" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <br>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Apellidos</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="apellidos" placeholder="Apellidos" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <br>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Dirección</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="direccion" placeholder="Dirección" class="form-control" type="text">
          </div>
        </div>
      </div>
      <br>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Tlf</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="tlf" placeholder="tlf" class="form-control"  type="text">
          </div>
        </div>
      </div>
      <br>
      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
      <br>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning" >Done <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
